html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;vertical-align:baseline;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}
body{font-family:"Hiragino Sans GB W3", "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif; font-size: 12px;}
ol,ul{list-style:none;}
/*input{-webkit-appearance: none;}*/
blockquote,q{quotes:none;}
table{border-collapse:collapse;border-spacing:0;}
/*html,body{ height: 100%;overflow-x: hidden;}*/

*{box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box; -webkit-tap-highlight-color:transparent}
a{color:#040404;text-decoration:none;-webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;}
img{border:0 none;}   
img.response{
	width: 100%;
}
h1{ font-size: 14px; color: #333; margin-bottom: 16px}
.fl{float: left;}
.fr{float: right;}
.btn{ display: inline-block;  padding: 8px 16px; cursor: pointer; transition:border .2s, background .2s; -webkit-transition:border .2s, background .2s; -moz-transition:border .2s, background .2s; font-size: 12px; text-align: center;}
#header{position: fixed; left: 0; top: 0; line-height: 88px; /*height: 88px;*/ width: 100%;  z-index: 99; transition:background .3s; /*background-color: rgba(255,255,255,.8);*/  padding: 0 55px 0 158px; box-shadow: 0 3px 35px rgba(85,141,217,.3); transition:background-color .5s, height .5s,top 1s; -webkit-transition:background-color .5s, height .5s,top 1s; -moz-transition:background-color .5s, height .5s,top 1s; -ms-transition:background-color .5s, height .5s,top 1s; height: 0; overflow: hidden;}
#header.active{height: 88px; background-color: rgba(255,255,255,.8); transition:background-color .5s, height .5s; -webkit-transition:background-color .5s, height .5s; -moz-transition:background-color .5s, height .5s;-ms-transition:background-color .5s, height .5s;}
#header .logo{ display: inline-block; width: 188px; height: 48px; background: url(../images/logo_b.png) no-repeat left top; vertical-align: middle;}
#nav{ display: inline-block; float: right;}
#nav li{ display: inline-block;}
#nav li a{ display: block; padding: 0 16px; font-size: 18px; font-weight: 100}
.btn-console{ border-radius: 10px; background-color: #489ef5; height: 36px; line-height: 36px; color: #fff; box-shadow: 0 0 8px 2px rgba(144, 144, 144, .4)}
#header.slidedown{ background-color: rgba(255,255,255,.8); transition:background .3s;}
.swiper-slide img{ max-width: 100%;}
.section{ position: relative;}
img.response{ max-width: 100%; width: 100%;}

.btn:hover{;transition:border .2s, background .2s; -webkit-transition:border .2s, background .2s; -moz-transition:border .2s, background .2s;}
.btn-origin{ color: #fff; background-color: #ffc320; box-shadow: 0 2px 1px #e1e1e1; font-size: 16px; padding: 8px 30px; line-height: 1.6}

.btn-default{ color: #333; background-color: #f7f7f7; border:1px solid #ddd; }
.btn-primary{ color: #fff; background-color: #09c; border: 1px solid #09c;}
.btn-primary:hover{ color: #fff; background-color: #28b5d6; border: 1px solid #28b5d6}
.con-tit{ border-bottom: 1px solid #ddd; padding: 8px 0 4px;}
.con-tit h1{ border-left: 2px solid #88B7E0; padding-left: 8px; display: inline-block; margin-bottom: 7; margin-top: 7px;}
.layui-table td,.layui-table th{ font-size: 12px;}
.layui-table a{ color: #0099cc}
#laypage{ text-align: center;}
.plusarea{ position: relative; height: 80px; width: 80px; background-color: #f8f8f8;}
.plusarea:before{ display: block; width: 5px;height: 40px; background-color: #deeaf9; content: ''; position: absolute; left: 0;right: 0; top: 0; bottom: 0; margin: auto;border-radius: 5px;}
.plusarea:after{ display: block; width: 40px;height: 5px; background-color: #deeaf9; content: ''; position: absolute; left: 0;right: 0; top:0; bottom: 0; margin: auto; border-radius: 5px;}
.plusarea input[type=file]{ position: absolute; width: 100%; height: 100%; opacity: 0; cursor: pointer; top: 0; left: 0; z-index: 9}
.layui-layer-dialog .layui-layer-content{ overflow: initial !important; overflow-y: initial !important; overflow-x: initial !important;}
/*#footer{ height: 100px; background: url(../images/footerbg.png) no-repeat top center; display: flex; display: -webkit-flex;display: -moz-flex;display: -ms-flex; justify-content:center; align-items:center; text-align: center;}*/
.txtright{ text-align: right;}

.swiper-slide{ position: relative;}
.swiper-slide .btn-login{ position: absolute; width: 320px; color: #fefefe; background-color: rgba(255,255,255,.3); height: 56px; line-height: 1.5; font-size: 24px; margin: auto; left: 0; right: 0; bottom: 20%; border-radius: 6px; font-weight: 100; z-index: 99}
.orange{ color: #ffa94c;}
.btn-createliving{ background: url(../images/btn-createliving.png) no-repeat left top; font-size: 24px; color: #fff; width: 201px; line-height: 1.6; font-weight: 100;}
.clear{ clear: both;}

#footer{ background-color: #1b2033; color: #c3c6d0;}
#footer .wrapper{ width: 1200px; margin: 0 auto}
#footer .contactus .tit{ font-size: 24px; margin-bottom: 25px;}
#footer .contactus{ background-color: #222840; font-size: 14px; font-family: '黑体'}
#footer .contactus p{ margin-bottom: 20px;}
#footer .conway .phone{ color: #268eb7}
#footer .contactus:after,#footer .ba:after{ content: ''; display: block; visibility: hidden; clear: both;}
#footer .ba{font-size: 14px; line-height: 55px; padding-right: 15px;}
#footer .contactus{padding: 30px 0 0;}